@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* =========================
   THEME VARIABLES
========================= */
@theme {
    --font-primary: "Inter", sans-serif;
    --color-primary: #0fabb1;
    --color-custom-opacity: #00000061;
    --color-dark-primary: #0d7d81;
    --color-buy-button: #233F6C;
}

/* =========================
   BASE STYLES
========================= */
@layer base {
    html {
        font-family: var(--font-primary), ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Arial, sans-serif;

        font-optical-sizing: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -ms-text-size-adjust: 100%;
    }
}

/* =========================
   CONTAINER FIX (EDGE SAFE)
========================= */
@layer utilities {
    .container {
        width: 100%;
        max-width: 80rem; /* 1280px */
        margin-inline: auto;
        padding: 0.525rem 3rem;
    }
}

/* Mobile container padding */
@media (max-width: 640px) {
    @layer utilities {
        .container {
            padding: 0.525rem 1rem;
        }
    }
}

/* =========================
   CUSTOM UTILITIES
========================= */

/* Slider Padding */
.custom_swiper {
    padding: 10px 0;
}

/* Custom scrollbar */
.scrollbar-primary {
    scrollbar-width: thin; /* Firefox (minimum) */
    scrollbar-color: var(--color-primary) #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 6px; /* Chrome, Edge, Safari */
}

.scrollbar-primary::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 6px;
}

